body{
    margin: 0;
    padding: 0;
}
/* Start navbar section */
nav{
    padding: 10px 100px;
    text-align: center;
    padding-left: 180px;
}
ul{
    display: flex;
}
li{
    margin: 0 30px;
    list-style: none;
}
a{
    font-size: 18px;
    color: black;
    text-decoration: none;
}
/* end navbar section */

/* start banner section */

.banner{
    background-image: url(./imgs/image_de_fond.jpeg);
    height: 400px;
    text-align: center;
}
.logo{
    margin-top: 150px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.banner button{
    height: 30px;
    background-color: grey;
    border: none;
    color: white;
}
.banner p{
    color: white;
    font-size: 15px;
}

/* end banner section*/

/* start formation section */

.formation{
    display: flex;
    text-align: center;
    padding: 40px 90px;
}
.formation img{
    border: 2px solid #2D6A6D;
    border-radius: 50%;
    padding: 10px;
}
.formation h5{
    font-weight: bold;
}

/* end formation section */


/* strat bakeli section */

.bakeli{
    padding: 40px 90px;
    background-color: gainsboro;
    text-align: center;
}
.bakeli h1{
    margin-bottom: 30px;
}
.bakeli ul{
    display: flex;
    margin-left: 150px;
}
.bakeli li{
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
}

/* end bakeli section */

/* start brand section */
.brand{
    height: 400px;
    text-align: center;
}
.bakeli .row1{
    width: 100%;
    height: 50%;
    display: flex;
}
.logo_brand{
    float: left;
    width: 25%;
}
.row1 .logo_brand img{
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100px;
}
.row2 .logo_brand img {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100px;
}
.wordpress{
    background-color: #2D6A6D;
}
.html{
    background-color: teal;
}
.canva{
    background-color: darkred;
}
.js{
    background-color: cadetblue;
}
.java{
    background-color: chocolate;
}
.inkscape{
    background-color: darkcyan;
}
.ae{
    background-color: darkslategray;
}
.python{
    background-color: darkseagreen;
}

/* end brand section */

/* start progress bar */

.bar{
    height: 300px;
    padding: 40px 90px;
    text-align: center;
}
.progress{
    display: flex;
    width: 100%;
    padding: 20px;
}
.progress .w3-light-grey1{
    background-color: darkseagreen;
    width: 500px;
    height: 20px;
    border-radius: 5px;
    margin-right: 20px;
}
.progress .w3-light-grey2{
    background-color: darkseagreen;
    width: 400px;
    height: 20px;
    border-radius: 5px;
    margin-right: 20px;
}
.progress .w3-light-grey3{
    background-color: darkseagreen;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    margin-right: 20px;
}
.progress .w3-light-grey4{
    background-color: darkseagreen;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    margin-left: 200px;
}
.label{
    text-align: left;
    padding-bottom: 10px;
    font-weight: bold;
}
.online_label{
    padding-bottom: 10px;
    padding-left: 100px;
    font-weight: bold;
}

/* end progress bar */

/* start team section */

.team{
    text-align: center;
    background-color: darkseagreen;
    height: 450px;
    padding-bottom: 20px;
    padding: 30px;
}
.teamate{
    display: flex;
}
.member{
    width: 25%;
    margin: 20px;
    background-color: white;
}
.member img{
    width: 100%;
    height: 80%;
}
/* end team section */

/* start post footer */

.post_footer{
    padding: 30px;
    text-align: center;
}
span{
    font-weight: bold;
}

/* end post footer */

/* start footer */

.footer{
    padding: 30px;
    text-align: center;
    background-color: gainsboro;
}
.footer h2{
    margin-top: 80px;
}
.list{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.list ul li{
    padding: 0;
    margin: 0;
}
.list ul{
    display: block;
    padding: 0;
    text-align: left;
}
.br-block {
    display: block;
}
.copyright{
    margin-top: 80px;
}

/* end footer */
















